In [12]:
def myFunc(e):
  return e['year']

def myFunc2(e):
  return e['car']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2000},
  {'car': 'Ford', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(reverse=True, key=myFunc)

cars.sort(key=myFunc2)

In [13]:
print(cars)

[{'car': 'BMW', 'year': 2019}, {'car': 'BMW', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'Ford', 'year': 2000}, {'car': 'Mitsubishi', 'year': 2000}, {'car': 'VW', 'year': 2011}]

In [14]:
cars = [
  ('Ford', 2005),
  ('Mitsubishi', 2000),
  ('BMW', 2000),
  ('Ford', 2000),
  ('BMW', 2019),
  ('VW', 2011)
]

sorted_cars = sorted(cars, key=lambda x: (-x[1], x[0]))

print(sorted_cars)

[('BMW', 2019), ('VW', 2011), ('Ford', 2005), ('BMW', 2000), ('Ford', 2000), ('Mitsubishi', 2000)]

In [15]:
from collections import Counter

def top_k_frequent(words, k):
    # Step 1: Count the frequency of each word
    count = Counter(words)
    
    # Step 2: Sort by frequency (descending) and lexicographical order (ascending)
    sorted_words = sorted(count.keys(), key=lambda x: (-count[x], x))
    
    # Step 3: Return the top k words
    return sorted_words[:k]

# Example 1
words1 = ["i", "love", "leetcode", "i", "love", "coding"]
k1 = 2
print(top_k_frequent(words1, k1))  # Output: ["i", "love"]

# Example 2
words2 = ["the", "day", "is", "sunny", "the", "the", "the", "sunny", "is", "is"]
k2 = 4
print(top_k_frequent(words2, k2))  # Output: ["the", "is", "sunny", "day"]

['i', 'love']
['the', 'is', 'sunny', 'day']

In [21]:
def topKFrequent(words, k):
    """
    :type words: List[str]
    :type k: int
    :rtype: List[str]
    """
    words_dict = dict()

    # Map each sring along with n. of times it appear
    for word in words:
        if word not in words_dict:
            words_dict[word] = 1
        else:
            words_dict[word] += 1

    # Sort the mapped dictionary with value descending order (meaning max first)
    # and then if same value, then by string itself lexicological ascending order 
    sorted_words = sorted(words_dict.keys(), key=lambda x: (-words_dict[x], x))

    return sorted_words[:k]

In [22]:
print(topKFrequent(["i","love","leetcode","i","love","coding"], 2))

['i', 'love']

In [23]:
print(topKFrequent(["the","day","is","sunny","the","the","the","sunny","is","is"], 4))

['the', 'is', 'sunny', 'day']

In [24]:
lst = ["i","love","leetcode","i","love","coding"]

In [25]:
"".join(lst)

'iloveleetcodeilovecoding'

In [26]:
def topKFrequent(words, k):
    """
    :type words: List[str]
    :type k: int
    :rtype: List[str]
    """
    words_dict = dict()

    # Map each sring along with n. of times it appear
    for word in words:
        if word not in words_dict:
            words_dict[word] = 1
        else:
            words_dict[word] += 1

    # Sort the mapped dictionary with value descending order (meaning max first)
    # and then if same value, then by string itself lexicological ascending order 
    sorted_words = sorted(words_dict.items(), key=lambda x: (-x[1], x[0]))

    return sorted_words[:k]

In [27]:
print(topKFrequent(["i","love","leetcode","i","love","coding"], 2))

[('i', 2), ('love', 2)]

In [28]:
[2] * 2

[2, 2]

In [29]:
l = [1, 2]
l.extend([2] * 2)
l

[1, 2, 2, 2]

In [30]:
l.append([2] * 2)
l

[1, 2, 2, 2, [2, 2]]

In [32]:
car = {'car': 'Ford', 'year': 2005}
car.values()

dict_values(['Ford', 2005])

In [1]:
min(3,6)

3

In [12]:
s = "hello"
s_lst = []
for ele in s:
    s_lst.append(ele)

s_lst

['h', 'e', 'l', 'l', 'o']

In [15]:
s_lst[1], s_lst[4] = s_lst[4], s_lst[1]
swaped = "".join(s_lst)
swaped

'holle'

In [19]:
s = """name age address
abc 23 sssss
kfg 45 aaaaa"""

In [2]:
# Output:
# {
#   "name":["abc","kfg"],
#   "age":[23,45],
#   "address":["sssss", "aaaaa"]
# }

In [10]:
s.splitlines()

['name age address', 'abc 23 sssss', 'kfg 45 aaaaa']

In [13]:
s_lst = [line.split() for line in s.splitlines()]
s_lst

[['name', 'age', 'address'], ['abc', '23', 'sssss'], ['kfg', '45', 'aaaaa']]

In [17]:
# header = s_lst[0]
# print(header)
result = dict()

for item in s_lst[0]:
    result[item] = []

for line in s_lst[1:]:
    for i in range(len(line) - 1):
        result[header[i]].extend(line[i])
print(result)

{'name': ['a', 'b', 'c', 'k', 'f', 'g'], 'age': ['2', '3', '4', '5'], 'address': []}

In [18]:
mapping = dict()
mapping[s_lst[0]] = s_lst[1:]
mapping

TypeError: unhashable type: 'list'

In [29]:
s_lines = s.splitlines()
s_lines

['name age address', 'abc 23 sssss', 'kfg 45 aaaaa']

In [30]:
headers = s_lines[0].split()
headers

['name', 'age', 'address']

In [31]:
result = {
    item:[] for item in headers
}
result

{'name': [], 'age': [], 'address': []}

In [32]:
for line in s_lines[1:]:
    data = line.split()
    for header, value in zip(headers, data):
        result[header].append(value if not value.isdigit() else int(value))
result

{'name': ['abc', 'kfg'], 'age': [23, 45], 'address': ['sssss', 'aaaaa']}